.todo-item {
  .todo-text {
    margin-top: 14px;
    font-size: 16px;
    color: #646464;
  }

  .form-switch-cst {
    font-size: 20px;
  }

  .custom-container {
    background: white;
    box-shadow: 0 5px 5px rgba(#8c8c8c, 0.5);
    border-radius: 4px;
    margin-bottom: 2rem;
  }
}
