.todos {

  .title-text {
    color: #5b5b5b;
  }

  .custom-container {
    background: white;
    box-shadow: 0 5px 5px rgba(#8c8c8c, 0.5);
    border-radius: 4px;
    margin-bottom: 2rem;
  }

}


